{
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "jquery": true,
      "es6": true,
      "node": true
    },
    "globals": {
      "WP_API": true
    },
    "extends": "wordpress",
    "rules": {
      "array-bracket-spacing": ["error", "always"],
      "brace-style": "error",
      "camelcase": ["error", {
        properties: "always"
      }],
      "comma-dangle": ["error", "never"],
      "comma-spacing": "error",
      "comma-style": ["error", "last"],
      "dot-notation": ["error", {
        allowKeywords: true,
        allowPattern: "^[a-z]+(_[a-z]+)+$"
      }],
      "eol-last": "error",
      "func-call-spacing": "off",
      "key-spacing": ["error", {
        beforeColon: false,
        afterColon: true
      }],
      "keyword-spacing": "error",
      "linebreak-style": ["error", "unix"],
      "lines-around-comment": ["error", {
        beforeLineComment: true
      }],
      "no-mixed-spaces-and-tabs": "error",
      "no-multi-str": "error",
      "no-multiple-empty-lines": "error",
      "no-with": "error",
      "one-var": ["error", "never"],
      "operator-linebreak": ["error", "after"],
      "semi": ["error", "always"],
      "space-before-blocks": ["error", "always"],
      "space-before-function-paren": ["error", "never"],
      "space-in-parens": ["error", "always", {exceptions: ["{}", "[]"]}],
      "space-infix-ops": "error",
      "space-unary-ops": ["error", {
        overrides: {"!": true}
      }],
      "vars-on-top": "error",
      "yoda": ["error", "always"]
    }
}
